*{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    /* margin: 0px; */
    align-content: space-between;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdata.1freewallpapers.com%2Fdownload%2Fbeautiful-horizon-1920x1080.jpg&f=1&nofb=1");
    background-color: transparent   ;
 
    background-color: brown;
}

.ventana{
    
    width: 40vh;
    display: block;
    background-color: transparent;
    z-index: 0;
    
}
    .ventana_barra_sup{
        display: flex;
        justify-content: flex-end;
        border-radius: 5px 5px 0px 0px;
        background-color: rgb(114, 114, 182);
        height: 4vh;
        width: 100%;
        
    }
        .barra_arr{
            background-color: transparent;
            border-radius: 5px 0px 0px 0px;
            z-index: 0;
            width: 100%;
            height: 100%;
            display: flex;
            text-align: center;
        }

            .titulo{
                margin-left: 1vh;
                
                color: azure;
                font-size: 1.5vh;
            }
        
        
        .boton{
            z-index: 1000;
            paint-order: fill;
            font-size: 20px;
            color: aliceblue;
            background-color: transparent;
            border-color: transparent;
            border-radius: 0px 5px 0px 0px;

            height: 100%;
            width: 10%;
        }
        
        .boton:hover{
            cursor: pointer;
        }
        .boton:first-of-type{
            border-radius: 0px;
        }
    .ventana_contenido{
        
        background-color: rgb(154, 154, 248);
        height: 150px;
        width: 100%;
    }
    .ventana_barra_inf{
        border-radius: 0px 0px 5px 5px;

        background-color: rgb(114, 114, 182);
        height: 2vh;
        width: 100%;
    }

    .barra_tareas{
        display: flex;
        position: absolute;
        justify-content: center;
        bottom: 0%;
        width: 100%;
        height: 6vh;
        background-color: rgb(86, 105, 121);
        left: 0%    ;
        
    }
        .boton_carpeta{
            height: 100%;
            /* background-color: transparent; */
            background-image: url(Img/carpeta_ico.png);
        }